@charset "utf-8";

html,body{
    height: 100%;
    /*overflow: hidden;*/
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.jk-nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(245,245,245,0.84);
    z-index: 9999;
}

.jk-nav a{
    color: #000;
}
.jk-nav a:hover{
    color: #000;
}

.jk-nav-content{
    position: relative;
    /*padding: 5px 10px;*/
    width: 1170px;
    margin: 0 auto;
    /*background-color: #009E94;*/
}

.jk-logo{
    display: inline-block;
    margin: 5px 0;
    width: 150px;
    height: 50px;
    background: url("../images/logo.png");
    background-size: 100% 100%;
}
.comment_inner{

    width: 200px;

    word-break: break-all;

    text-overflow: ellipsis;

    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/

    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/

    -webkit-line-clamp: 3; /** 显示的行数 **/

    overflow: hidden;  /** 隐藏超出的内容 **/

    }
.jk-menu{
   display: inline-block;
    margin-left: 20px;
}
.jk-menu li{
    float: left;
    line-height: 60px;
    width: 88px;
    font-size: 16px;
    text-align: center;
}
.jk-menu li a{
    display: block;
}

.jk-menu .active{
    background-color: #F29700;
}
.jk-menu .active a{
    color: #fff;
}

.jk-nav-right-block{
    display: none;
   position: absolute;
   top: 0;
   right: 10px;
    height: 60px;
    width: 200px;
    padding: 15px 10px;
}
.jk-nav-right-block .layui-btn{
    width: 80px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    color: #000;
    background: none;
}

.body-content{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    overflow-y: auto;
}
.jk-main{
    position: relative;
    min-height: 100%;
    background-color: rgb(250,250,250);


}
.jk-main .layui-container{
    min-height: 100%;
    padding-top: 60px;
    padding-bottom: 192px;


}

.jk-footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 192px;
    background-color: #383838;
    color: #fff;
}
.footer-top{
    position: relative;
    padding: 20px 0;
    height: 130px;
    width: 100%;
}
.footer-top h2{
    font-size: 12px;
}


.jk-footer-block{
    display: inline-block;
    width: 300px;
}
.footer-logo{
    position: absolute;
    width: 150px;
    height: 50px;
    right: 0;
    top: 10px;
    background: url("../images/footer-logo.png");
    background-size: 100% 100%;
}
.footer-hr{
    width: 100%;
    height: 2px;
    margin-top: 0;
    background-color: #979797;
}

.footer-bottom{
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 35px;
}
.footer-bottom {

}
.footer-links{
    display: inline-block;
    position: absolute;
    right: 0;
    width: 320px;
    text-align: right;
}
.footer-links li{
   float: left;
    line-height: 35px;
    padding: 0 10px;
}
.footer-links a{
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

/*列表栏*/
.left-content{
    display: inline-block;
    margin-right: 10px;
    width: 740px;
    padding: 20px 0;
    vertical-align: top;

}

.kx-title{
    line-height: 28px;
    border-left: 3px solid #F29700;
    font-size: 20px;
    padding-left: 2px;
    margin-bottom: 12px;
}
.kx-title-sub{
    line-height: 28px;
    padding-left: 5px;
    background-color: #F29700;
    font-size: 16px;
    color: #383838;
    margin-bottom: 15px;
}

.left-list-block{
    display: block;
    width: 100%;
    /*height: 160px;*/
    padding: 10px 10px;
    background-color: #F6F6F6;
    margin-bottom: 15px;
}

.time-text{
    display: inline-block;
   line-height: 25px;
   font-size: 10px;
    color: #fff;
    width: 35px;
    border-radius: 3px;
    text-align: center;
   background-color: #F29700;
    vertical-align: top;
}
.title-text{
    margin-left: 15px;
    display:inline-block;
    line-height: 22px;
    color: #383838;
    font-size: 16px;
    width: 620px;
}
.content-text{
    margin: 10px 0 20px 50px;
    /*width: 100%;*/
    color: #383838;
    font-size: 14px;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.list-bottom{
    display: inline-block;
    width: 100%;
    margin-left: 50px;
    line-height: 20px;
    color: #999999;
    font-size: 12px;
}
.list-bottom span{
    margin-right: 50px;
}
.list-bottom span i{
    margin-right: 2px;
}
.left-contet-list{
    width: 100%;
    height: 40px;
    background-color: #F6F6F6;
}

/*列表第一个元素*/
.first-list .time-text{
    background-color: #D0021B;
}
.first-list .title-text{
   color: #D0021B;
}
.first-list .content-text{
  color: #D0021B;
}
.first-list .list-bottom span:first-child{
    color: #7ED321;
}
.first-list .list-bottom span:last-child{
    color: #D0021B;
}

.top-back{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom:212px;
    right:360px;
    line-height: 40px;
    color: #fff;
    opacity: 0.5;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 1);
}
.top-back .layui-icon{
    font-size: 30px;
}




/*广告栏*/
.right-adv-block{
    display: inline-block;
    width: 370px;
    margin-top: 60px;
}
.adv-img-block{
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0px 2px 4px 0px rgba(219, 219, 219, 1);
}
.adv-img-block img{
    width: 100%;
}

.adv-list-block{

    width: 100%;
    padding: 0 5px 20px 5px;
    box-shadow: 0px 2px 4px 0px rgba(219, 219, 219, 1);
    margin-top: 15px;
    color: #383838;
}

.adv-list-block h2{
    position: relative;
    padding: 5px 15px;
    line-height: 30px;
    border-bottom: 2px solid #999999;
    font-size: 20px;
}
.adv-list-block h2 span{
    position: absolute;
    left: 5px;
    top: 10px;
    width: 3px;
    height: 20px;
    background-color: #F29700;
    margin-right: 5px;
}


.adv-list-block p{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 20px;
   padding: 15px 0 0 15px;
    font-size: 14px;
    border-bottom: 2px solid #999999;
}
.adv-list-block p span{
    position: absolute;
    left: 0;
    width: 15px;
    top: 15px;
    color: #F29700;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
}

.not-border{
    border: none!important;
}
.not-mg{
    margin: 0!important;
}

.adv-list-block label{
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 20px;
    height: 80px;
    padding: 15px 0 0 50px;
    font-size: 14px;
    border-bottom: 2px solid #999999;
}
.adv-list-block label a{
    display: block;
    height: 40px;

    word-break: break-all;

    text-overflow: ellipsis;

    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/

    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/

    -webkit-line-clamp: 2; /** 显示的行数 **/

    overflow: hidden;  /** 隐藏超出的内容 **/
}

.adv-list-block label span{
    position: absolute;
    top: 15px;
    left: 5px;
    line-height: 20px;
    width: 35px;
    color: #FFFFFF;
    background-color: #F29700;
    text-align: center;
    font-size: 10px;
}

.yw-list-block{
    position: relative;
    padding: 13px 10px;
    width: 100%;
    height: 204px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 0px rgba(219, 219, 219, 1);
}
.yw-tag{
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    color: #fff;
}
.yw-left-img{
    width: 320px;
    height: 180px;
}
.yw-list-right{
    position: absolute;
    left: 380px;
    right: 10px;
    top: 20px;
    bottom: 20px;

}
.yw-list-right .yw-title{
    display: inline-block;
    line-height: 20px;
    height: 40px;
    font-size: 16px;
    color: #383838;
    margin-bottom: 20px;
    cursor: pointer;
}
.yw-list-right p{
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 20px;
    color: #999999;
    font-size: 14px;
    margin-bottom: 25px;
}
.yw-list-right label{
    position: relative;
    width: 100%;
    display: inline-block;
    line-height: 25px;
    color: #999999;
    font-size: 12px;
}
.yw-list-right label span{
    display: inline-block;
    line-height: 25px;
}
.yw-list-right label span:first-child{
    margin-right: 15px;
}
.yw-list-right label span:last-child{
    position: absolute;
    line-height: 23px;
    top: 0;
    right: 15px;
    width: 100px;
    text-align: right;
}
.yw-list-right label span:last-child i{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}


.left-nav-block{
    height: 50px;
    padding-left: 5px;
    border-left: 4px solid #F29700;

}
.left-nav-block h2{
    line-height: 28px;
    font-size: 20px;
    border-bottom: 1px solid #383838;
}
.left-nav-block span{
    line-height: 20px;
    color: #999999;
    font-size: 14px;
}
.weblist-content{
    margin-top: 15px;
    background-color: rgb(241,243,245);
}

.weblist-block{
    width: 100%;
    padding:5px 5px;
    margin-bottom: 15px;
    box-shadow: 0px 1px 0px #cccccc;
    font-size: 14px;
    background-color: #fff;
}
.weblist-item{
    width: 100%;
}
.weblist-item-title{
    display: inline-block;
    vertical-align: top;
    width: 10%;
    line-height: 30px;
    text-align: center;
    color: rgb(136,199,244);
}
.weblist-item-list{
    display: inline-block;
    width: 88%;
}

.weblist-item-list a img{
  width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: #009E94;
}

.weblist-item-list a{
    display: inline-block;
    width: 20%;
    text-align: left;
    line-height: 30px;
}




/*置顶 原创 转载*/
.tag-zd{
    background-color: #D0021B;
}
.tag-yc{
  background-color: #4A90E2;
}
.tag-zz{
  background-color: #F29700;
}


/*快讯详情*/
.kx-detail-block{
    padding: 20px 10px;
    background-color: #fff;
    width: 100%;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.03);
}
.kx-detail-title{
    /*height: 30px;*/
    padding: 0 15px;
    line-height: 30px;
    border-left: 4px solid #F29700;
}

.kx-deatail-subtitle{
    padding: 10px 15px;
    line-height: 25px;
    font-size: 12px;
    border-bottom: 1px solid rgb(233,241,250);
}
.kx-deatail-subtitle .time-text{
  line-height: 20px;
    margin-right: 5px;
}
.kx-detail-content{
    padding: 20px 15px;
    margin-bottom: 15px;
    font-size: 16px;
}

.kx-detail-bar{
    padding: 0 15px;
    line-height: 25px;

}
.kx-detail-bar i{
    margin-right: 5px;
}
.kx-detail-bar a{
    cursor: pointer;
    color: rgb(143,152,170);
    margin-right: 50px;
}
.kx-number{
    margin-left: 5px;
}
.kx-detail-bar .active:first-child{
    color: rgb(89,189,99)!important;
}
.kx-detail-bar .active:last-child
{
   color: red!important;
}


/*政策详情*/
.zc-detail-block{
    padding: 20px 20px;
    box-shadow: 2px 2px #eee;
    background-color: #fff;
}
.zc-detail-bread{
    color: #666;
    font-size: 14px;
    padding: 0 0 10px 0;
}
.zc-detail-title{
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}
.zc-detail-subtitle{
    font-size: 14px;
    color: #999;
}
.zc-detail-subtitle span{
    margin-right: 50px;
}
.zc-detail-subtitle span i{
    margin-right: 5px;
}

.abstract{
    background-color: #F5F9FD;
    line-height: 100px;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    margin-top: 40px;
    padding: 0 30px;
}
.abstract p{
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
    padding: 35px 0;
}
.aauthorcontainer{
    margin-top: 40px;
    position: relative;
    min-height: 24px;
}
.authorcontainer span{
    font-size: 14px;
    color: #999;
}
.tag-containe{
    margin-top: 35px;
    position: relative;
    min-height: 24px;
}
.tag-icon{
    position: relative;
    top: 4px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 16px;
}
.tag-containe .tag{
    display: inline-block;
    margin-right: 13px;
    padding: 7px 20px;
    text-align: center;
    border-radius: 14px;
    background: #F5F9FD;
    color: #9EB6D8;
}
.equity{
    line-height: 20px;
    background-color: #F5F9FD;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-top: 40px;
    padding: 30px;
}
.equity p{
    margin: 0 15px;
}
.zc-detail-content{
    margin-top: 40px;
   font-size: 16px;
    color: #232323;
    font-weight: 400;
}
.zc-detail-content p{
    font-size: 16px;
    line-height: 28px;
    margin: 16px 0;
}

.zc-bottom{
    margin-top: 20px;
    height: 140px;
    position: relative;
    padding-bottom: 30px;
}
.leftbtn{
    width: 360px;
    height: 140px;
    background-color: #fff;
    box-shadow: 2px 2px #eee;
    padding: 0 30px;
    cursor: pointer;
    position: absolute;
    left: 0;
}
.rightbtn{
    width: 360px;
    height: 140px;
    background-color: #fff;
    box-shadow: 2px 2px #eee;
    padding: 0 30px;
    cursor: pointer;
    position: absolute;
    right: 0px;
}

.zc-bottom div:hover{
    background-color: #eff7ff;
}
.zc-bottom p{
    font-size: 18px;
    color: #333;
    position: absolute;
    top: 24px;
    font-weight: 700;
}
.zc-bottom div:hover span{
    color: #75afec;
}
.zc-bottom a{
    display: block;
    color: inherit;
    text-decoration: none !important;
    list-style: none;
}
.zc-bottom span{
    font-size: 16px;
    color: #888;
    position: absolute;
    top: 55px;
    padding-right: 30px;
}

.kx-detail-title a{
    display: inline-block;
    width: 70px;
    vertical-align: top;
}

.kx-detail-title span{
    display: inline-block;
    width: 600px;

    /*width: 80%;*/
}
