<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="mapping.userMapper">
	<!-- 储值规则的 java对象与数据库映射  -->
	<resultMap id="ActivityDbResultMap" type="user.UserOfGolden">
		<id column="new_id" property="new_id" jdbcType="INTEGER" />
		<result column="news" property="news" jdbcType="INTEGER" />
		<result column="top_id" property="top_id" jdbcType="INTEGER" />
		<result column="bottom_id" property="bottom_id" jdbcType="INTEGER" />
		<result column="old_id" property="old_id" jdbcType="BIGINT" />
		<result column="created_id" property="created_id" jdbcType="BIGINT" />
		<result column="imgurl1" property="imgurl1" jdbcType="VARCHAR" />
		<result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="time" property="time" jdbcType="VARCHAR" />
		<result column="up" property="up" jdbcType="INTEGER" />
		<result column="down" property="down" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="ActivityPolicyMap" type="user.UserOfPolicy">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="news" property="news" jdbcType="INTEGER" />
		<result column="top_id" property="top_id" jdbcType="INTEGER" />
		<result column="bottom_id" property="bottom_id" jdbcType="INTEGER" />
		<result column="title_id" property="title_id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="version" property="version" jdbcType="VARCHAR" />
		<result column="topic_id" property="topic_id" jdbcType="INTEGER" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<result column="published_at" property="published_at" jdbcType="BIGINT" />
		<result column="image_short" property="image_short" jdbcType="VARCHAR" />
		<result column="image_big" property="image_big" jdbcType="VARCHAR" />
		<result column="html_url" property="html_url" jdbcType="VARCHAR" />
		<result column="text" property="text" jdbcType="VARCHAR" />
		<result column="look" property="look" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="ActivityCoinMap" type="user.UserOfCoin">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="news" property="news" jdbcType="INTEGER" />
		<result column="news_id" property="news_id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="img_url" property="img_url" jdbcType="VARCHAR" />
		<result column="abstract_str" property="abstract_str" jdbcType="VARCHAR" />
		<result column="source" property="source" jdbcType="VARCHAR" />
		<result column="promulgator_title" property="promulgator_title" jdbcType="VARCHAR" />
		<result column="issue_time" property="issue_time" jdbcType="VARCHAR" />
		<result column="is_top" property="is_top" jdbcType="INTEGER" />
		<result column="logo_pic" property="logo_pic" jdbcType="VARCHAR" />
		<result column="text" property="text" jdbcType="VARCHAR" />
		<result column="up" property="up" jdbcType="INTEGER" />
		<result column="down" property="down" jdbcType="INTEGER" />
		<result column="look" property="look" jdbcType="INTEGER" />
	</resultMap>
	
	
	
	<resultMap id="NavigationMap" type="user.UserOfNavigate">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="img_url" property="img_url" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="gw_url" property="gw_url" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="type_name" property="type_name" jdbcType="VARCHAR" />
	</resultMap>
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
    <!-- 
        根据id查询得到一个user对象
     -->
     <!-- *****************************7*24的操作 **********************************-->
    <select id="getGoldenByUser" parameterType="String" 
        resultType="user.UserOfGolden">
        select * from golden where new_id=#{id}
    </select>
    
   <update id="updateGolden">
  update golden set
    up = #{up},
    down = #{down}
  where new_id = #{id}
</update>

     <select id="getGoldenByUserall"  
        resultMap="ActivityDbResultMap">
        select * from golden ORDER BY created_id  DESC
    </select>
     <select id="getGoldenByUserNum" 
        resultMap="ActivityDbResultMap">
    select * from golden ORDER BY created_id  DESC LIMIT #{up},#{down}
    </select>
    <select id="getGoldenAllNum" resultType="INTEGER">
    SELECT COUNT(*) FROM golden
    </select>
    <!-- DESC为降序,ASC为升序 -->
    
     <select id="getUserRank" parameterType="String"  resultType="user.UserOfGolden">
    SELECT * from golden ORDER BY created_id #{rank};
     </select>
     
     <select id="findMaxFromGolden" parameterType="String" resultType="String">
		select max(old_id) from golden 
		</select>


    <insert id="insertGolden">
  insert into golden (news,top_id,bottom_id,old_id,created_id,imgurl1,thumbnail,title,content,time)
  values (#{news},#{top_id},#{bottom_id},#{old_id},#{created_id},#{imgurl1},#{thumbnail},#{title},#{content},#{time})
	</insert>
	
<insert id="insertGoldenUp">
  insert into golden up
  values #{up}
	</insert>
	
	<insert id="insertGoldenDown">
  insert into golden down
  values #{down}
	</insert>
	
	<delete id="allDeleteForGolden">
	truncate golden;
	</delete>

	<delete id="deleteForGoldenById">
  delete from golden where new_id = #{id}
	</delete>

  <!-- *****************************金色政策的操作 **********************************-->
  
  
   <select id="getPolicyByUser" parameterType="String" 
        resultType="user.UserOfPolicy">
        select * from policy where id=#{id}
    </select>
    <select id="getPolicyAllNum" resultType="INTEGER">
    SELECT COUNT(*) FROM policy
    </select>
     <select id="getPolicyByUserOld" parameterType="int" 
        resultType="user.UserOfPolicy">
        select * from policy where topic_id=#{id}
    </select>
  
    
    
     <select id="getPolicyByUserNum"  
        resultMap="ActivityPolicyMap">
        select * from policy ORDER BY published_at  DESC LIMIT #{up},#{down}
    </select>
 <insert id="insertPolicy">
  insert into policy (news,top_id,bottom_id,title_id,title,type,version,topic_id,summary,published_at,image_short,image_big,html_url,text,author,source)
  values (#{news},#{top_id},#{bottom_id},#{title_id},#{title},#{type},#{version},#{topic_id},#{summary},#{published_at},#{image_short},#{image_big},#{html_url},#{text},#{author},#{source})
</insert>

<update id="updatePolicyLook">
 update policy set look=#{look} where id=#{id};
</update>

<delete id="allDeleteForPolicy">
truncate policy;
</delete>

<delete id="deleteForPolicyById">
  delete from policy where id = #{id}
</delete>

   <select id="findMaxFromPolicy" parameterType="String" resultType="String">
		select max(topic_id) from policy 
</select>
		
    <select id="getPolicyByUserall"  
        resultMap="ActivityPolicyMap">
        select * from policy ORDER BY published_at  DESC
    </select>

 <!-- *****************************币世界的操作 **********************************-->
  	<select id="getCoinByUser" parameterType="String" 
        resultType="user.UserOfCoin">
        select * from coin where id=#{id}
    </select>
    
 <insert id="insertCoin">
  insert into coin (news_id,title,img_url,abstract_str,source,promulgator_title,issue_time,is_top,logo_pic,text)
  values (#{news_id},#{title},#{img_url},#{abstract_str},#{source},#{promulgator_title},#{issue_time},#{is_top},#{logo_pic},#{text})
</insert>

 <select id="findMaxFromCoin" parameterType="String" resultType="String">
		select max(news_id) from coin 
		</select>
		
		<update id="updateCoinLook">
 update coin set look=#{look} where id=#{id};
</update>
		
		
     <select id="getCoinByUserall"  
        resultMap="ActivityCoinMap">
        
        select * from coin ORDER BY news_id  DESC
    </select>
    
<delete id="allDeleteForCoin">
truncate coin;
</delete>

<delete id="deleteForCoinById">
  delete from coin where id = #{id}
</delete>
<!-- <update id="updateAuthor">
  update emm_golden set
    username = #{username},
    password = #{password},
    email = #{email},
    bio = #{bio}
  where id = #{id}
</update> -->
<!--                          导航页面 -->
<insert id="insertNavigation">
  insert into navigation (type,img_url,title,title_en,gw_url,content,type_name)
  values (#{type},#{img_url},#{title},#{title_en},#{gw_url},#{content},#{type_name})
</insert>

 <select id="getNavigationByUser" resultMap="NavigationMap">
        select * from navigation where type=#{type}
    </select>
    

<!--                          用户登陆页面 -->
<select id="findUser" parameterType="String" resultType="String">
		select userPassword from user where userName=#{userName}
		</select>
		
		<update id="updateUser">
 update user set userPassword=#{password} where userName=#{user};
</update>
<!--                          广告图片页面 -->
<select id="findAdvertising" parameterType="String" resultType="String">
		select image_url from advertisingImage where id=#{id}
		</select>
		
<update id="updateAdvertising">
  update advertisingimage set
    image_url = #{image_url},
    type = #{type} 
  where id = #{id}
</update>

</mapper>
